<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYC_UseDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EDFBF391E14BA6800FAD3ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EDFBF551E14BA6900FAD3ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EDFBF601E14BA6900FAD3ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
